instructions.txt
.ipynb_checkpoints/EDA-checkpoint.ipynb
.ipynb_checkpoints/Validation-checkpoint.ipynb
Data/MariaCorinaYA_final.csv
Data/MariaCorinaYA_prep.csv
Data/MariaCorinaYA_test.csv
Data/MariaCorinaYA_tweets.csv
Data/TareckPSUV_final.csv
Data/TareckPSUV_prep.csv
Data/TareckPSUV_test.csv
Data/TareckPSUV_tweets.csv
Data/TarekWiliamSaab_final.csv
Data/TarekWiliamSaab_prep.csv
Data/TarekWiliamSaab_test.csv
Data/TarekWiliamSaab_tweets.csv
Data/alcaldeledezma_final.csv
Data/alcaldeledezma_prep.csv
Data/alcaldeledezma_test.csv
Data/alcaldeledezma_tweets.csv
Data/dcabellor_final.csv
Data/dcabellor_prep.csv
Data/dcabellor_test.csv
Data/dcabellor_tweets.csv
Data/hcapriles_final.csv
Data/hcapriles_prep.csv
Data/hcapriles_test.csv
Data/hcapriles_tweets.csv
Data/jorgerpsuv_final.csv
Data/jorgerpsuv_prep.csv
Data/jorgerpsuv_test.csv
Data/jorgerpsuv_tweets.csv
Data/juliococo_final.csv
Data/juliococo_prep.csv
Data/juliococo_test.csv
Data/juliococo_tweets.csv
Data/leopoldolopez_final.csv
Data/leopoldolopez_prep.csv
Data/leopoldolopez_test.csv
Data/leopoldolopez_tweets.csv
Data/nicolasmaduro_final.csv
Data/nicolasmaduro_prep.csv
Data/nicolasmaduro_test.csv
Data/nicolasmaduro_tweets.csv
keys/indicokey.json
keys/twitterkeys.json
